<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.MessageMapper">
	<select id="getChatroomList" parameterType="java.lang.String" resultType="ChatroomDTO">
		<![CDATA[
	         SELECT A.chatIDX
			 FROM E_CHATROOM A
			 JOIN E_MSG B
			 ON A.chatIDX=B.chatIDX
			 WHERE B.userID=#{userid}
     	]]>
	</select>
	<select id="getMessageList" parameterType="java.lang.Integer" resultType="MessageDTO">
		<![CDATA[
	         SELECT * FROM E_MSG
	         WHERE chatIDX=#{chatidx}
     	]]>
	</select>
</mapper>