@charset "EUC-KR";

.upperMenu {
	display: inline-block;
	height: 100px;
	width: 100%;
	background: aqua;
}

.wrap {
	float: right;
	margin-right: 100px;
}

.wrap_like {
	display: inline-block;
}

.wrap_like1 {
	display: inline-block;
	width: 40%;
	height:100%;
	background: gray;
}

.wrap_item {
	width: 792px;
	height: 200px;
	background: aqua;
	margin: 20px;
	display: block;
}

.item_info {
	background: fuchsia;
	width: 40%;
	height: 100%;
	float: left;
}

.wrap_item>img {
	height: 200px;
	width: 300px;
	float: left;
}

#wrap_item2 {
	height:100%;
	background: green;
	float: right;
}

#like {
	text-align:right;
	height: 90%;
	color: red;
	background:lime;
}
#price {
	height: 10%;
}
.map{
	width : 60px;
	height:100%;
	background:blue;
}
#wrap_ac{
	text-align: center;
}
.wrap_account{
	display: inline-block;
	width:70%;
	margin: auto;
	text-align:left;
	background: aqua;
}
.wrap_account1{
	margin:15px;
	float:left;
	width:30%;
	background: fuchsia;
}
.panel-body>.content{
	height:60px;
}
#wrap_personal{
	display: inline-block;
	width: 70%;
	margin-left:15%;
	margin-right:15%;
	background: fuchsia;
}
.wrap_pers{
	float: left;
	width:70%;
	margin :auto;
	background: gray;
}
.wrap_pers2{
	margin:20px;
}
.wrap_pers2>input{
	width:300px;
}
.wrap_pers3{
	width:30%;
	float: right;
	background: maroon;
}